@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

@layer utilities {
  .bg-hero {
    background-image: url("../public/assets/heroImg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
