@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

@layer utilities {
  .bg-hero {
    background-image: url("../public/assets/heroImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.swiper {
  padding: 0 0 50px !important;
}
.swiper-pagination-bullet {
  background: #6f7ccf !important;
}
.swiper-pagination-bullet-active {
  background-color: #ffed00 !important;
}

@media screen and (min-width: 1500px) and (max-width: 1800px) {
  html {
    font-size: 12px;
  }
}
